<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acuit.jointdistribution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Common.Base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--公共模块-->
        <activity android:name=".Common.View.Activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Common.View.Activity.HomeActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Common.View.Activity.SuggestionFeedbackActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Common.View.Activity.ModifyPwdActivity"
            android:launchMode="singleInstance" />


        <activity android:name=".Common.View.Activity.LoginActivity" />
        <activity android:name=".Common.View.Activity.AboutUsActivity" />
        <activity android:name=".Common.View.Activity.BindPhoneActivity" />
        <activity android:name=".Common.View.Activity.ForgetPwdActivity" />

        <!-- 供应商 -->
        <activity android:name=".Supplier.Acitivity.MenuActivity" />
        <activity android:name=".Supplier.Acitivity.SendActivity" />
        <activity android:name=".Supplier.Acitivity.CommandActivity" />
        <activity android:name=".Supplier.Acitivity.ReceivedActivity" />
        <activity android:name=".Supplier.Acitivity.MenuInfoActivity" />
        <activity android:name=".Supplier.Acitivity.SendInfoActivity" />
        <activity android:name=".Supplier.Acitivity.DistributionActivity" />
        <activity android:name=".Supplier.Acitivity.BusinessOrderActivity" />

        <!-- 保管员 -->
        <activity android:name=".Storeman.View.ScanCodeActivity" />
        <activity android:name=".Storeman.View.StoreInListActivity" />
        <activity android:name=".Storeman.View.SupplierListActivity" />
        <activity android:name=".Storeman.View.StoreInDetilsActivity" />


    </application>

</manifest>