<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acuit.jointdistribution">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application

        android:allowBackup="true"
        android:name=".Common.Base.BaseApplication"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.acuit.jointdistribution.Common.Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--供应商-->
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.HomeActivity"/>
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.ReceivedActivity" />
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.MenuActivity" />
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.MenuInfoActivity" />
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.SendActivity" />
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.SendInfoActivity" />
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.DistributionActivity" />
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.CommandActivity" />
        <activity android:name="com.acuit.jointdistribution.Supplier.Acitivity.BusinessOrderActivity"></activity>

        <!--保管员-->



    </application>

</manifest>