<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acuit.jointdistribution">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Common.Base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_login"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
        <!-- 公共模块 -->
        <activity android:name=".Common.View.Activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Common.View.Activity.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Common.View.Activity.ModifyPwdActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Common.View.Activity.SuggestionFeedbackActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".Common.View.Activity.LoginActivity" />
        <activity android:name=".Common.View.Activity.AboutUsActivity" />
        <activity android:name=".Common.View.Activity.BindPhoneActivity" />
        <activity android:name=".Common.View.Activity.ForgetPwdActivity" />

        <!-- 供应商 -->
        <activity android:name=".Supplier.Acitivity.SendActivity" />
        <activity android:name=".Supplier.Acitivity.CommandActivity" />
        <activity android:name=".Supplier.Acitivity.ReceivedActivity" />
        <activity android:name=".Supplier.Acitivity.SendInfoActivity" />
        <activity android:name=".Supplier.Acitivity.ReceivedMenuInfoActivity" />

        <!-- 保管员 -->
        <activity android:name=".Storeman.View.ScanCodeActivity" />
        <activity android:name=".Storeman.View.GoodsEditActivity" />
        <activity android:name=".Storeman.View.StoreInListActivity" />
        <activity android:name=".Storeman.View.SupplierListActivity" />
        <activity android:name=".Storeman.View.StoreInDetilsActivity" />
        <activity android:name=".Supplier.Acitivity.PurchaseChangedActivity" />

        <!-- 添加图片 第三方 -->
        <activity
            android:name="com.zfdang.multiple_images_selector.ImagesSelectorActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="false" />
        <activity android:name=".Supplier.Acitivity.PickingActivity" />
        <activity android:name=".Supplier.Acitivity.PurchaseChangedInfoActivity"></activity>
    </application>

</manifest>